.header {
  width: clamp(375px, 65%, 1440px);
  border-bottom: 1px solid #c1c1c1;
  overflow: hidden;
}

.header-container, .content-container {
  margin: 0 auto;
}

.header-greeting-wrapper {
  display: flex;
  justify-content: center;
  border: 2px;
  min-height: 10em;
}

.header h1 {
  font-size: 56px;
  font-weight: 700;
}

.content {
  border-bottom: 1px solid #c1c1c1;
  height: 100%;
  padding-bottom: 30px;
}

.content h2 {
  font-weight: 700;
  font-size: 36px;
}

.content h3 {
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
}

.content h4 {
  font-size: 24px;
}

.content-container {
  width: clamp(375px, 65%, 1440px);
}

.content-skills {
  display: flex;
  align-items: center;
  width: clamp(375px, 50%, 100%);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.content-skills li {
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.content img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #c1c1c1;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer {
  width: clamp(375px, 65%, 1440px);
}

.footer h5 {
  text-align: center;
  font-size: 28px;
}

.contact-form {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 5px;
  background-color: #eaeaea;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-form .icon, .contact-form .icon-git, .contact-form .icon-mail {
  margin: 3px;
  height: 40px;
  width: 40px;
}

.contact-form .icon:hover, .contact-form .icon-git:hover, .contact-form .icon-mail:hover {
  color: #0078b4de;
}

.contact-form .icon-git {
  color: #575757;
}

.contact-form .icon-git:hover {
  color: #636363;
}

.contact-form .icon-mail {
  color: #63a000;
}

.contact-form .icon-mail:hover {
  color: #70b600;
}

html,
body {
  padding: 0;
  margin: 0;
}

@media (max-width: 1315px) {
  html .header h1,
  body .header h1 {
    text-align: center;
    width: 100%;
  }
}

h1,
h2,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}

a {
  text-decoration: none;
  color: #0077b5;
}

ul {
  list-style: none;
}

hr {
  height: 2px;
  background-color: #4b5156;
}

@media screen and (max-width: 1563px) {
  .content {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 884px) {
  .content {
    padding-bottom: 50px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .toggle-btn {
    position: absolute;
    top: 165px;
  }
}
