html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 100;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #0077b5;
}

ul {
  list-style: none;
}

.header {
  background-color: #eaeaea;
  border-bottom: 1px solid #c1c1c1;
  overflow: hidden;
}

.header-container, .content-container {
  width: 1200px;
  margin: 0 auto;
}

.header-greeting-wrapper {
  display: flex;
  justify-content: center;
  border: 2px;
  min-height: 10em;
}

.content {
  border-bottom: 1px solid #c1c1c1;
  height: 650px;
}

.content-skills {
  display: flex;
  align-items: center;
  background-color: #edf7f6;
  width: 50%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.content-skills li {
  text-align: left;
}

.content img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #c1c1c1;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer h3 {
  text-align: center;
}

hr {
  height: 2px;
  background-color: #4b5156;
}

.contact-form {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 5px;
  background-color: #eaeaea;
  margin-bottom: 50px;
}

.contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #158e00;
  border-radius: 5px;
  height: 25px;
  padding: 5px;
  margin: 5px;
}

.contact-form-btn:hover {
  background-color: #4caf50;
}

.contact-form p[data-tag] {
  color: #fff;
}

.linkedIn-contact {
  margin: 3px;
  height: 40px;
  width: 40px;
}

.linkedIn-contact:hover {
  color: #17a2b8;
}
