html,
body {
  padding: 0;
  margin: 0;
}

@media (max-width: 1068px) {
  html,
  body {
    padding-left: 5%;
  }
  html p,
  body p {
    max-width: 60%;
  }
  html .content,
  body .content {
    height: 75vh;
  }
  html .footer,
  body .footer {
    padding-top: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 100;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #0077b5;
}

ul {
  list-style: none;
}

.header {
  border-bottom: 1px solid #c1c1c1;
  overflow: hidden;
}

.header-container, .content-container {
  width: 1200px;
  margin: 0 auto;
}

.header-greeting-wrapper {
  display: flex;
  justify-content: center;
  border: 2px;
  min-height: 10em;
}

.content {
  border-bottom: 1px solid #c1c1c1;
  height: 650px;
}

@media (max-width: 1068px) {
  .content {
    flex-direction: column;
  }
}

.content-skills {
  display: flex;
  align-items: center;
  width: 50%;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.content-skills li {
  text-align: left;
}

.content img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #c1c1c1;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer h3 {
  text-align: center;
}

hr {
  height: 2px;
  background-color: #4b5156;
}

.contact-form {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 5px;
  background-color: #eaeaea;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-form .icon, .contact-form .icon-git, .contact-form .icon-mail {
  margin: 3px;
  height: 40px;
  width: 40px;
}

.contact-form .icon:hover, .contact-form .icon-git:hover, .contact-form .icon-mail:hover {
  color: #0078b4de;
}

.contact-form .icon-git {
  color: #575757;
}

.contact-form .icon-git:hover {
  color: #636363;
}

.contact-form .icon-mail {
  color: #d89f02;
}

.contact-form .icon-mail:hover {
  color: #d89f02d2;
}
