body {
  background-color: #f9f9f9;
}
.App {
  text-decoration: none;
  color: #8C8C8C;
}
.App ul {
  list-style-type: none;
  margin-top: 5%;
  z-index: 10;
  top: 0;
  position: fixed;
  right: 20px;
}
.App li {
  font-size: 24px;
  list-style-type: none;
  display: inline;
  margin: 10px;
}


.links:hover{
  color: black;
  cursor: pointer;
}

.links:active{
  color: #8C8C8C;
}

.headLine {
  color: #5C5C5C;
  font-family: Geneva;
  text-align: center;
  margin-top: 50px;
}

.about {
margin: 30px;
line-height: 1.5em;
}

.aboutMe {
margin: 30px;
}

.aboutMeDiv {
  flex: 1;
}

.myProjectsDiv {
  flex: 1;
}
.aboutProject {
  margin: 30px;
}

.myProjects {
  margin: 30px;
  line-height: 1.5em;
}

.contactMeDiv {
  flex: 1;
}

.contactMe {
  margin: 30px;
}

.contact {
  margin: 30px;
}

.imageDiv {
  text-align: center;
}

.myliImage {
  height: 40vh;
  width: 20vw;
}