body {
    background-color: #f9f9f9;
}

.App {
    text-decoration: none;
    color: #8C8C8C;
}

.App ul {
    list-style-type: none;
    text-align: end;
    z-index: 10;
    top: 0;
    height: 10vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding-top: 2em;
}

.App li {
    font-size: 24px;
    list-style-type: none;
    display: inline;
    margin-right: 100px;
}

.links:hover {
    color: black;
    cursor: pointer;
}

.links:active {
    color: #8C8C8C;
}

.headLine {
    color: #5C5C5C;
    font-family: Geneva;
    text-align: center;
    margin-top: 20em;
}

.about {
    margin: 50px;
    line-height: 1.5em;
}

.aboutMe {
    margin: 50px;
}

.aboutMeDiv {
    flex: 1;
    margin: 15em;
}

.aboutProject {
    margin: 50px;
}

.myProjects {
    margin: 50px;
    line-height: 1.5em;
}

.myProjectsDiv {
    flex: 1;
    margin: 15em;
}

.contact {
    margin: 50px;
    text-align: center;
}

.contactMe {
    text-align: center;
    margin: 50px;
}

.contactMeDiv {
    flex: 1;
}

.imageDiv {
    margin: 10vh;
    float: left;
    width: 35%;
}

.imageDivHomeScreen {
    text-align: center;
    margin: 10vh;
}

.myliImage {
    height: 80vh;
    width: 30vw;
}

.myliHomePageImage {
    height: 80vh;
    width: 30vw;
}

.myliInfo {
    text-align: center;
    line-height: 1.5em;
    margin-left: 20em;
    margin-right: 20em;
}

.myliWebsiteLink {
    text-align: center;
    font-size: 2rem;
}