.App {
  text-decoration: none;
  color: #8C8C8C;
}
.App ul {
  list-style-type: none;
  flex-direction: row;
  text-align: end;
  margin-right: 10%;
  margin-top: 100px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.App li {
  font-size: 24px;
  list-style-type: none;
  display: inline;
  margin: 10px;
}

.links:hover{
  color: black;
  cursor: pointer;
}

.links:active{
  color: #8C8C8C;
}

.headLine {
  color: #5C5C5C;
  font-family: Geneva;
  text-align: center;
}