$sectionHeight: 770px;
$animatedHeight: 600px;
$animatedWidth: 300px;
$mobile-break: 768px;
$content-width: 1440px;
$font-weights: (
  'mini': 100,
  'regular': 400,
  'medium': 500,
  'bold': 700
);
