@mixin theme($dark-theme: true) {
  @if $dark-theme {
    background-color: darken($primary-color, 100%);
    color: lighten($secondary-color, 100%);
  }
}
@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin clamp-width {
  width: clamp(375px, 65%, $content-width);
}
@mixin mobile {
  @media (max-width: $content-width - 125px) {
    @content;
  }
}
