@import 'colors';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $border-color;
  width: 100%;
  &-links {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: clamp(375px, 65%, 1440px);
  }
  h1 {
    font-size: 36px;
    width: clamp(375px, 65%, 1440px);
  }
  h2 {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    width: clamp(375px, 65%, 1440px);
  }
  a {
    font-size: 30px;
    font-weight: weight('bold');
    font-family: 'Courier New', Courier, monospace;
    color: #ff9900;
    text-shadow: 3px 1px 2px $primary-color;
    &:hover {
      opacity: 0.9;
      transform: translateX(1px);
    }
  }
  a:nth-child(2) {
    color: #ff9900;
    font-size: 30px;
  }
}
