@import 'config';
@import 'colors';
@import 'mixin';

html,
body {
//   @include theme(false);
  @include mobile {
    padding-left: 25%;
    h1 {
        text-align: left;
        width: 100%;
    }
    p {
      max-width: 60%;
    }
    h3 {
        max-width: 70%;
    }
    .content {
      height: 75vh;
    }
    .footer {
      padding-top: 125px;
    }
    .toggle-btn {
        position: relative;
        top: 150px;
    }
  }
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}

a {
  text-decoration: none;
  color: $blue-color;
}

ul {
  list-style: none;
}

.header {
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  &-container {
    width: 1200px;
    margin: 0 auto;
  }
  &-greeting-wrapper {
    display: flex;
    justify-content: center;
    border: 2px;
    min-height: 10em;
  }
  h1 {
    font-size: 56px;
    font-weight: weight('bold');
  }
}

.content {
  border-bottom: 1px solid $border-color;
  height: $sectionHeight;
  h2 {
    font-weight: weight('bold');
    font-size: 36px;
  }
  h3 {
    font-weight: weight('mini');
    font-size: 16px;
    line-height: 1.4rem;
  }
  h4 {
    font-size: 24px;
  }
  &-container {
    @extend .header-container;
  }
  &-skills {
    display: flex;
    align-items: center;
    width: 50%;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    li {
      text-align: left;
      font-family: 'Roboto Mono', monospace;
    }
  }
  img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid $border-color;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.footer {
  h5 {
    text-align: center;
    font-size: 28px;
  }
}

hr {
  height: 2px;
  background-color: $secondary-text;
}

.contact-form {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 5px;
  background-color: $main-color;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  .icon {
    margin: 3px;
    height: 40px;
    width: 40px;
    &:hover {
      color: #0078b4de;
    }
    &-git {
      @extend .icon;
      color: #575757;
      &:hover {
        color: #636363;
      }
    }
    &-mail {
      @extend .icon;
      color: #63a000;
      &:hover {
        color: #70b600;
      }
    }
  }
}
