@import 'config';
@import 'colors';
@import 'mixin';

html,
body {
  @include theme(false);
  @include mobile {
    padding-left: 5%;
    p {
      max-width: 60%;
    }
    .content {
      height: 75vh;
    }
    .footer {
      padding-top: 30px;
    }
  }
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: weight('mini');
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: $blue-color;
}

ul {
  list-style: none;
}

.header {
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  &-container {
    width: 1200px;
    margin: 0 auto;
  }
  &-greeting-wrapper {
    display: flex;
    justify-content: center;
    border: 2px;
    min-height: 10em;
  }
}

.content {
  @include mobile {
    flex-direction: column;
  }
  border-bottom: 1px solid $border-color;
  height: $sectionHeight;
  &-container {
    @extend .header-container;
  }
  &-skills {
    display: flex;
    align-items: center;
    width: 50%;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    li {
      text-align: left;
    }
  }
  img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid $border-color;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.footer {
  h3 {
    text-align: center;
  }
}

hr {
  height: 2px;
  background-color: $secondary-text;
}

.contact-form {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 5px;
  background-color: $main-color;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  .icon {
    margin: 3px;
    height: 40px;
    width: 40px;
    &:hover {
      color: #0078b4de;
    }
    &-git {
      @extend .icon;
      color: #575757;
      &:hover {
        color: #636363;
      }
    }
    &-mail {
        @extend .icon;
        color: #d89f02;
        &:hover {
            color: #d89f02d2;
        }
    }
  }
}
